/* =========================
   RESET & BASE
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
    font-family: "Roboto", sans-serif;
    background: #F8F9FA;
    color: #0f172a;
    display: initial;
}

/* =========================
   VARIABLES
========================= */
:root {
    --primary: #E63946;
    --secondary: #457B9D;
    --accent: #F1FAEE;
    --highlight: #FFD166;
    --bg-light: #F8F9FA;
    --bg-dark: #1D3557;
}

/* =========================
   TYPOGRAPHY
========================= */
.font-display {
    font-family: "Bangers", cursive;
    font-size: 300%;
    letter-spacing: 2px;
}

.font-marker {
    font-family: "Permanent Marker", cursive;
    font-size: 150%;
}

@media (max-width: 720px) {
    .font-display {
        font-size: 3rem;
    }

    .font-marker {
        font-size: 1.5rem;
    }
}

/* =========================
   LAYOUT HELPERS
========================= */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

/* =========================
   NAVBAR
========================= */
nav {
    position: sticky;
    z-index: 1000;
    overflow: visible;
    top: 0;
    background-color: #F1FAEE;
    border-bottom: 4px solid #0f172a;
    transition: 0.5s;
}

.header-scrolled {
    background-color: #FFD166;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    box-shadow: 2px 2px 0 black;
}

.topnav .icon {
    display: none;
}

.nav-hidden .fa,
.nav-hidden .btn {
    color: #0f172a;
    transition: 0.2s;
}

.nav-hidden .fa:hover,
.nav-hidden .btn:hover {
    color: #E63946;
}

.nav-hidden .fa {
    font-size: 1.5rem;
    border: 2px solid #0f172a;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 2px 2px 0 black;

    background-color: #F1FAEE;
}

.nav-hidden .fa:hover {
    transform: translate(-4px, -4px);
    box-shadow: 3px 3px 0 black;
}

@media screen and (max-width: 600px) {

    .topnav {
        display: block;
    }

    .nav-hidden {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        color: #0f172a;
        margin: auto;
    }


}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .topnav.responsive .nav-hidden {
        display: block;
    }

    .nav-hidden .fa {
        border-radius: 0%;
        margin: 0px;
        box-shadow: 2px 2px 0 black;
    }

    .nav-hidden .fa,
    .nav-hidden .btn {
        display: inline-block;
        padding: 15px 40px;
        border: 4px solid black;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-decoration: none;
        transition: 0.2s;
        box-shadow: 3px 3px 0 black;
        margin: 10px;
    }

    .nav-hidden .fa:hover {
        transform: translate(-4px, -4px);
        box-shadow: 3px 3px 0 black;
    }
}

/*socials*/

.nav-logo {
    width: 100px;
}


/* =========================
   HERO SECTION
========================= */
.hero {
    min-height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 6px solid black;
    background-color: rgb(148, 185, 228);
}


.hero h1 {
    font-size: 10rem;
    color: rgb(238, 238, 233);
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 4px 4px 0 black;
}

.hero .highlight {
    color: var(--highlight);
    -webkit-text-stroke: 2px black;
}



@media (max-width: 720px) {
    .hero {
        min-height: 45vh;
    }

    .hero h1 {
        font-size: 5rem;
    }
}

/* =========================
   BUTTONS
========================= */
.btn {
    display: inline-block;
    padding: 15px 40px;
    border: 4px solid black;
    font-family: "Bangers", cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 5px 5px 0 black;
    margin: 10px;

    background-color: #F1FAEE;
}

.btn-primary {
    background: var(--primary);
    color: white;
}

.btn-white {
    background: white;
    color: black;
}

.btn:hover {
    transform: translate(-4px, -4px);
    box-shadow: 3px 3px 0 black;
}

@media (max-width: 720px) {
    .btn {
        font-size: 1rem;
    }
}

/* =========================
   CARDS
========================= */
#features {
    border-bottom: 6px solid black;
    padding: 0 0 50px 0;
}

.features-section {
    text-align: center;
    margin: 30px;
    font-size: 2rem;
}

.features-section .font-marker {
    color: #c51e2c;
    font-size: 2rem;
}

.description {
    border: 4px solid black;
    font-size: 1.5rem;
    letter-spacing: 1px;
    box-shadow: 3px 3px 0 black;
    text-align: justify;
    padding: 5px 10px;
    margin: 0 0 20px 0;

    background-color: #FFD166;
    color: #0f172a;
}

.card {
    background: white;
    border: 4px solid black;
    padding: 30px;
    box-shadow: 6px 6px 0 black;
    transition: 0.3s;
}

.dark .card {
    background: #1e293b;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 3px 3px 0 black;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 4px solid black;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* =========================
   COMMUNITY SECTION
========================= */
#community {
    padding: 5%;
    background-color: rgb(148, 185, 228);
}

.dark #community {
    background: #0f172a;
}

.community {
    background: var(--secondary);
    border: 6px solid black;
    padding: 80px 20px;
    color: white;
    transform: rotate(1deg);
    box-shadow: 6px 6px 0 black;
    text-align: center;
}

.community p {
    font-size: 1.5rem;
}

@media (max-width: 720px) {
    .community p {
        font-size: 1rem;
    }

    .hidden {
        display: none;
    }
}

/* =========================
   FOOTER
========================= */
footer {
    background: black;
    color: white;
    padding: 60px 0;
}

footer .brand {
    color: var(--highlight);
    font-size: 2rem;
    font-style: italic;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 720px) {
    footer .font-marker {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }

    .footer p {
        font-size: 12px;
    }
}